<footer class="fdb-block footer-large" role="contentinfo">
    <div class="container">
      <div class="row align-items-top text-center text-md-left">
        <div class="col-12 col-sm-6 col-md-4">
          <address>
          <h3><strong>Adresse</strong></h3>
          <p>Advokatfirmaet Juristhuset AS <br>
          Trondheimsveien 24C
          <br>0560 OSLO
          </p>
        </address>
          <h3><strong>Telefon</strong></h3>
          <p>+47 48078897</p>
        </div>

        <div class="col-12 col-sm-6 col-md-4 text-md-left">
          <h3><strong>Vår spisskompetanse</strong></h3>
          <nav class="nav flex-column">
          {{ range .Site.Menus.footer }}
            <a class="nav-link" href="{{.URL}}">{{ .Name }}</a>
            {{ end }}
          </nav>
        </div>

        <div class="col-12 col-md-4 mt-5 mt-md-0 text-md-left">
        <img alt="Medlem av Den Norske Advokatforening" class="img-fluid" src="/images/advokatforeningen.svg">
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col text-center">
        {{.Site.Params.FooterText}}
          {{/* &copy; {{ now.Format "2006" }} &middot; <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> */}}
        </div>
      </div>
    </div>
  </footer>
