<header class="site-header {{ if .IsHome }} site-header-home {{end}}" role="banner">

  <div class="container pt-2 pb-2 navbar-container">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
          <img src="/images/logo.svg " height="100" alt="{{ .Site.Title }}">
        </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav3">
        <ul class="navbar-nav ml-auto">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ .Name }}
                <a>
                <div class="dropdown-menu" aria-labelledby="about-us">
                  {{ range .Children }}
                  <a class="dropdown-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">
                  {{ .Name }}
                  </a>
                  {{ end }}
                  </div>
                  </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link {{ .Pre }}" href="{{.URL}}">
                  {{ .Name }}
                </a>
                </li>
            {{end}}
          {{end}}
        </ul>
      </div>
    </nav>
  </div>
</header>
