// ...
@import '~bootstrap/scss/bootstrap';
@import 'froala_blocks';

.card-svg {
    max-height: 200px;
    object-fit: contain;
}

.body-home {
    background-image: url('/images/design_elements.svg');
    background-position: right top;
    background-size: 110vh;
    background-repeat: no-repeat;
}

.dropdown-menu {
    box-shadow: $custom-box-shadow;
}

.service-hero {
  background: #6441a5; /* fallback for old browsers */
background: -webkit-linear-gradient(left, #6441a5, #2a0845);
background: -o-linear-gradient(left, #6441a5, #2a0845);
background: linear-gradient(to right, #6441a5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}

.blog-hero {
  color: #FFF;
  background: #9d50bb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9d50bb, #6e48aa); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9d50bb, #6e48aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.site-header {
    box-shadow: 2px 40px rgba(0, 0, 0, .08);
}

.site-header-home {
    box-shadow: none !important;
}

.card {
    @include froala-box-shadow(3);
}

.card {
    & ul {
        @extend .list-group, .list-group-flush;
    }
    & li {
        @extend .list-group-item;
    }
}

.footer-large {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .05);
}
