{{ define "main" }}
<div class="container fdb-block">
  <div class="col-12">
    {{ range .Paginator.Pages }}
    <a href="{{ .Permalink }}">
        <article class="fdb-box my-5 p-4">
            <h2 class="text-h2">{{ .Title }}</h2>
            {{ .Summary }}
        </article>
        </a>
    {{ end }}
    </div>



    {{ template "_internal/pagination.html" . }}
</div>
<section class="fdb-block" style="background-color: #623b97">
<div class="container">
  <div class="fdb-box">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-6">
        <h2>Få Oppdateringer</h2>
        <p class="text-h3">Skriv inn E-postadresse</p>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <div class="input-group mt-4">
          <input type="text" class="form-control" placeholder="Skriv inn E-postadresse">
          <span class="input-group-btn">
            <button class="btn" type="button">Send</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{{ end }}
