{{ define "main" }}
<article>
  <section class="fdb-block jg-blue">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="text-white">{{.Title}}</h1>
          <p class="lead text-white">
            {{.Params.lead}}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
        <div class="row align-items-center my-2">
          <div class="col-3">
            <img alt="image" class="img-fluid rounded-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/davidburlton/128.jpg">
          </div>
          <div class="col-6">
            <h3><strong>Marco Aurélio Lucas da Silva</strong></h3>
            <p class="text-h4">Advogado</p>
          </div>
        </div>
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>
</article>
{{ end }}
