{{ define "main" }}
<section class="fdb-block pt-0">
    <div class="jg-blue">
      <div class="container">
        <div class="row-100"></div>
        <div class="row text-left text-white">
          <div class="col-8">
            <h1>{{.Title}}</h1>
            <p class="text-h3">{{.Params.lead}}</p>
          </div>
        </div>
        <div class="row-100"></div>
      </div>
    </div>
    <div class="container">
      <div class="row-100"></div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-5">
          <h2>Call or email</h2>
          <p class="text-large">Support, Sales, and Account Management services are currently available in English</p>

          <p class="text-h3 mt-4 mt-lg-5">
            <strong>Support</strong>
          </p>
          <p>
            +800 3005 4300
          </p>
          <p>
            <a href="https://www.froala.com">Contact Support</a>
          </p>
          <p>
            Our technical support is available by phone or email from 11am to 11pm BST, Monday through Friday.
          </p>

          <p class="text-h3 mt-4 mt-lg-5">
            <strong>Sales</strong>
          </p>
          <p>
            +800 3005 4300
          </p>
          <p>
            <a href="https://www.froala.com">Contact Sales</a>
          </p>
          <p>
            Our technical support is available by phone or email from 11am to 11pm BST, Monday through Friday.
          </p>

          <p class="text-h3 mt-4 mt-lg-5">
            <strong>General inquiries</strong>
          </p>
          <p>
            <a href="https://www.froala.com">hello@website.com</a>
          </p>
        </div>

        <div class="col-12 col-md-6 ml-auto">
          <h2>Drop us a line</h2>
          <form action="https://formcarry.com/s/SkgdmZMUG" method="POST" accept-charset="UTF-8">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name" name="firstName">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name" name="lastName">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="text" class="form-control" placeholder="Company Name" name="companyName">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input name="email" type="email" class="form-control" placeholder="Email">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="text" class="form-control" placeholder="Phone" name="phone">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="City" name="city">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <textarea class="form-control" name="message" rows="5" placeholder="How can we help?"></textarea>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button type="submit" class="btn">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{{ end }}
